<div class="jumbotron pv5 pv6-l ph3 bg-center cover relative overflow-hidden" style="background-image: url('{{.imageUrl}}')">
  <div class="jumbotron-rain" aria-hidden="true"></div>
  <div class="jumbotron-overlay" aria-hidden="true"></div>
  <div class="mw7 center ph3 relative z-1">
    <div class="db mb3">
      <div class="mw7 relative bg-fix-primary mb3">
        <h1 class="f2 f1-l b di lh-title mb3 white mw6 bg-primary">
          {{.title}}
        </h1>
      </div>
      <div class="mw7 relative bg-fix-primary">
        {{ if .subtitle }}
        <p class="b f4 di lh-title mb3 white mw6 bg-primary">
          {{.subtitle}}
        </p>
        {{ end }}
      </div>
    </div>
  </div>
</div>
